<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全部分享</title>
    <link rel="stylesheet" th:href="@{/lib/semanticui/semantic.css}" href="../../static/lib/semanticui/semantic.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" href="../../static/css/me.css">
</head>
<body>
<!--导航栏-->
<div class="ui top fixed teal huge menu inverted">
    <div class="ui container">
        <a href="#" th:href="@{/index}" class="item"><i class="home icon"></i>首页</a>
        <a href="#" th:href="@{/favorites/{name}/blogs(name=${session.user.getUserName()})}" class="item"><i
                class="icon like"></i>收藏</a>
        <a href="#" th:href="@{/loginUser/{name}/blogs(name=${session.user.getUserName()})}" class="active item"><i
                class="icon edit"></i>分享</a>
        <div class="item">
            <form name="search" action="#" th:action="@{/search}" method="post">
                <div class="ui icon inverted transparent input">
                    <input type="text" name="query" placeholder="Search..." th:value="${query}">
                    <i onclick="document.forms['search'].submit()" class="search link icon "></i>
                </div>
            </form>
        </div>
        <div class="right menu">
            <div class="ui dropdown item">
                <div th:text="${session.user.getUserName()}" class="text">
                    Sinn
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="#" th:href="@{/logout}" class="item">注销</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="ui container m-margin-top-large">
    <!--头部-->
    <div class="ui segment">
        <div class="ui middle aligned two column grid">
            <div class="column">
                <h3 class="header ui teal">我的分享</h3>
            </div>
            <div class="right aligned column">
                共 <h3 th:text="${blogs.size()}" class="ui orange header m-inline-block">14</h3> 个
            </div>
        </div>
    </div>

    <!--放置分享内容-->
    <div class="ui segment teal">
        <table class="ui celled table">
            <thead>
            <tr>
                <th class="one wide"></th>
                <th class="ten wide">标题</th>
                <th class="two wide">状态</th>
                <th class="three wide">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog,state : ${blogs}">
                <td th:text="${state.count}">1</td>
                <td th:text="${blog.title}">刻意练习清单</td>
                <td th:text="${blog.shareStatement} ? '发布': '草稿'">草稿</td>
                <td>
                    <!--@RequestMapping("{blogId}/blogInput")-->
                    <a href="#" th:href="@{/loginUser/{blogId}/blogUpdate(blogId=${blog.id})}"
                       class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/loginUser/{blogId}/delete(blogId=${blog.id})}"
                       class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">
                    <a href="#" th:href="@{/loginUser/{name}/blogInput(name=${session.user.getUserName()})}"
                       class="ui big right floated blue basic button">发布新的分享</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

    <!--showMessage-->
    <div class="ui success message" th:unless="${#strings.isEmpty(msg)}">
        <i class="close icon"></i>
        <div class="header">Tips:</div>
        <p th:text="${msg}">Congratulations! Optional success</p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部footer-->
<div class="ui inverted vertical footer segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">使用技术</h4>
                    <div class="ui item">SpringBoot</div>
                    <div class="ui item">SemanticUI</div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：937019004@qq.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">ShareBlog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是华南农业大学大学现代软件技术开发课程的课程设计作业，欢迎使用</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022 - 2023</p>
    </div>
</div>

<script th:src="@{/js/jquery-3.6.0.js}" src="../../static/js/jquery-3.6.0.js"></script>
<script th:src="@{/lib/semanticui/semantic.js}" src="../../static/lib/semanticui/semantic.js"></script>

<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //    消息关闭提示
    $('.message .close').on('click', function () {
        $(this)
            .closest('.message')
            .transition('fade');
    });
</script>
</body>
</html>