<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinn.mapper.BlogMapper">
    <resultMap id="BlogResultMap" type="Blog">
        <id property="blogId" column="blog_id"/>
        <!--多对一 User user-->
        <association property="user" javaType="User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
            <result property="password" column="password"/>
            <result property="createTime" column="create_time"/>
        </association>

        <!--一对多 List<Picture> pictures-->
        <collection property="pictures" ofType="Picture">

        </collection>

        <!--List<Comment> comments-->
        <collection property="comments" ofType="Comment">

        </collection>

        <!--List<User> loves-->
        <collection property="loves" ofType="User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="username"/>
            <result property="password" column="password"/>
            <result property="createTime" column="create_time"/>
        </collection>

        <!--List<User> favorites-->
        <collection property="favorites" ofType="User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="username"/>
            <result property="password" column="password"/>
            <result property="createTime" column="create_time"/>
        </collection>
    </resultMap>
    <!--useGeneratedKeys="true"；使用自增主键获取主键值策略
    keyProperty；指定对应的主键属性，也就是mybatis获取到主键值以后，将这个值封装给javaBean的哪个属性
-->
</mapper>