<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinn.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="Comment">
        <id property="commentId" column="comment_id"/>

        <!--Comment parentComment-->
        <association property="parentComment" javaType="Comment">

        </association>
        <!--User user-->
        <association property="user" javaType="User">

        </association>

        <!--Blog blog-->
        <association property="blog" javaType="Blog">

        </association>
        <!--List<Comment> replyComment-->
        <collection property="replyComment" ofType="Comment">

        </collection>
    </resultMap>
</mapper>